# Trans-World Oil:  Linear Optimization
### Sean Olson

In [3]:
# import libraries
from optlang import Model, Variable, Constraint, Objective
import pandas as pd

In [4]:
# import data
tankerleasecost = 8600 # lease cost per day
usdistillatecost = 19.80

demand = pd.read_excel('trans_world_oil_company_data.xlsx', sheet_name = 'Demand')
demand['Gasoline'] = demand['Gasoline'] * 1000
demand['Distillate'] = demand['Distillate'] * 1000
display(demand)

refinerycost = pd.read_excel('trans_world_oil_company_data.xlsx', sheet_name = 'RefineryCosts')
refinerycost['Total'] = refinerycost['Gasoline Yield per Crude BBL'] + refinerycost['Distillate Yield per Crude BBL']
display(refinerycost)

variablecost = pd.read_excel('trans_world_oil_company_data.xlsx', sheet_name = 'VariableCosts')
display(variablecost)

tankerusage = pd.read_excel('trans_world_oil_company_data.xlsx', sheet_name = 'TankerUsageFactors')
display(tankerusage)

supply = pd.read_excel('trans_world_oil_company_data.xlsx', sheet_name = 'Supply')
display(supply)

          Area  Gasoline  Distillate
0    Australia    9000.0     21000.0
1        Japan    3000.0     12000.0
2  Philippines    5000.0      8000.0
3  New Zealand    5400.0      8700.0
4        Total   22400.0     49700.0

,"Location, Crude, PI",Country,Cost of Crude,Inc. Ship. Cost,Inc. Ref. Cost,Total Costs,Gasoline Yield per Crude BBL,Distillate Yield per Crude BBL,Total
0,"Brunei Crude, Low (BLA)",Australia,20.5,0.78,0.36,21.64,0.259,0.688,0.947
1,"Brunei Crude, High (BHA)",Australia,20.5,0.78,0.84,22.12,0.365,0.573,0.938
2,"Iran Crude, Low (ILA)",Australia,18.5,1.86,0.45,20.81,0.186,0.732,0.918
3,"Iran Crude, High (IHA)",Australia,18.5,1.86,0.90,21.26,0.312,0.608,0.920
4,"Brunei Crude, Low (BLJ)",Japan,20.5,0.72,0.48,21.70,0.259,0.688,0.947
5,"Brunei Crude, High (BHJ)",Japan,20.5,0.72,1.02,22.24,0.350,0.588,0.938
6,"Iran Crude, Low (ILJ)",Japan,18.5,1.77,0.60,20.87,0.186,0.732,0.918
7,"Iran Crude, High (IHJ)",Japan,18.5,1.77,1.17,21.44,0.300,0.620,0.920

   From / To  New Zealand  Philippines
0  Australia          0.3         0.45
1      Japan          0.3         0.60
2         US          2.1         1.65

       Between  Australia  Japan    US
0         Iran       0.12  0.110   NaN
1       Borneo       0.05  0.045   NaN
2  Philippines       0.02  0.010  0.15
3  New Zealand       0.01  0.060  0.18

            Supply  BBL/Day       Type
0  Brunei (Borneo)    40000      Fixed
1             Iran    60000  Available
2    US Distillate    12000  Available

### Define Objective Function
Now we must identify the objective function for the case.  Given that all the data for the case is cost data then it is safe to assume that the objective function needs to be **Minimize Costs**.

Now we have to define our objective function:

*Total Costs = Cost of Refined Products + Shipment to Other Markets + Tanker Lease*

*Cost of Refined Products = AustraliaCost(Gas + Distillate) + JapanCost(Gas + Distillate)*

### Define Constraints
##### Crude Oil Supply:
- Brunei <= 40000
- Iran <= 60000

##### Distillate Supply:
- US <= 12000

##### Refinery Constraint
- Australia <= 50000
- Japan <= 30000

##### Market Demand:  Gas
- Australia >= 9000
- Japan >= 3000
- Philippines >= 5000
- New Zealand >= 5400

##### Market Demand:  Distillate
- Australia >= 21000
- Japan >= 12000
- Philippines >= 8000
- New Zealand >= 8700

##### Tanker Capacity
- Tanker Capacity <= 6900
  
##### Gas Shipped from Refineries to Other Markets
- Australia -> Philippines >= 0.45
- Australia -> New Zealand >= 0.30
- Japan -> Philippines >= 0.60
- Japan -> New Zealand >= 0.30

##### Distillate Shipped from Refineries to Other Markets
- US -> Philippines >= 1.65
- US -> New Zealand >= 2.10
- Australia -> Philippines >= 0.45
- Australia -> New Zealand >= 0.30
- Japan -> Philippines >= 0.60
- Japan -> New Zealand >= 0.30

In [5]:
# define objective function
# decision variables
x1 = Variable('aus_brl', lb=0)
x2 = Variable('aus_brh', lb=0)
x3 = Variable('aus_irl', lb=0)
x4 = Variable('aus_irh', lb=0)

x5 = Variable('jpn_brl', lb=0)
x6 = Variable('jpn_brh', lb=0)
x7 = Variable('jpn_irl', lb=0)
x8 = Variable('jpn_irh', lb=0)

x9 = Variable('aus_gas', lb=9000)
x10 = Variable('aus_nz_gas', lb=0)
x11 = Variable('aus_phl_gas', lb=0)

x12 = Variable('jpn_gas', lb=3000)
x13 = Variable('jpn_nz_gas', lb=0)
x14 = Variable('jpn_phl_gas', lb=0)

x15 = Variable('us_dis', lb=12000)
x16 = Variable('us_phl_dis', lb=0)
x17 = Variable('us_nz_dis', lb=0)

x18 = Variable('aus_dis', lb=21000)
x19 = Variable('aus_nz_dis', lb=0)
x20 = Variable('aus_phl_dis', lb=0)

x21 = Variable('jpn_dis', lb=12000)
x22 = Variable('jpn_nz_dis', lb=0)
x23 = Variable('jpn_phl_dis', lb=0)

x24 = Variable('tkrs', lb=0)

# refinery constraints
c1 = Constraint(x1+x2+x3+x4, ub=50000)
c2 = Constraint(x5+x6+x7+x8, ub=30000)
c3 = Constraint(x1+x2+x5+x6, ub=40000)
c4 = Constraint(x3+x4+x7+x8, ub=60000)

# gas production constraints
c5 = Constraint((x1*0.259)+(x2*0.365)+(x3*0.186)+(x4*0.312)-x9, lb=5000)
c6 = Constraint((x1*0.259)+(x2*0.365)+(x3*0.186)+(x4*0.312)-x9, lb=5400)

c7 = Constraint((x5*0.259)+(x6*0.350)+(x7*0.186)+(x8*0.300)-x12, lb=5000)
c8 = Constraint((x5*0.259)+(x6*0.350)+(x7*0.186)+(x8*0.300)-x12, lb=5400)

# distillate production constraints

c9 = Constraint((x1*0.688)+(x2*0.573)+(x3*0.732)+(x4*0.608)+x16-x18, lb=8000)
c10 = Constraint((x1*0.688)+(x2*0.573)+(x3*0.732)+(x4*0.608)+x17-x18, lb=8700)

c11 = Constraint((x5*0.688)+(x6*0.588)+(x7*0.732)+(x8*0.620)+x16-x21, lb=8000)
c12 = Constraint((x5*0.688)+(x6*0.588)+(x7*0.732)+(x8*0.620)+x17-x21, lb=8700)

# tanker capacity
c13 = Constraint(((x3+x4)*0.12)+((x1+x2)*0.05)+((x7+x8)*0.11)+((x5+x6)*0.045)\
+((x11+x20)*0.02)+((x10+x19)*0.01)+((x14+x23)*0.01)\
+((x13+x22)*0.06)+(x16*0.15)+(x17*0.18)-(1000*x24), ub=6900)

# other constraints
c14 = Constraint(x10+x13, lb=5400)
c15 = Constraint(x11+x14, lb=5000)
c16 = Constraint(x17+x19+x22, lb=8700)
c17 = Constraint(x16+x20+x23, lb=8000)

# objective function
# refining cost
aus_ref_cost = (x1*21.64)+(x2*22.12)+(x3*20.81)+(x4*21.26)
jpn_ref_cost = (x5*21.70)+(x6*22.24)+(x7*20.87)+(x8*21.44)

# us distillate cost
usdist_cost = (x16+x17)*19.80

# total cost to ship to other markets
aus_phl_cost = ((x1*0.947)+(x2*0.938)+(x3*0.918)+(x4*0.920))*0.45
aus_nz_cost = ((x1*0.947)+(x2*0.938)+(x3*0.918)+(x4*0.920))*0.30

jpn_phl_cost = ((x5*0.947)+(x6*0.938)+(x7*0.918)+(x8*0.920))*0.60
jpn_nz_cost = ((x5*0.947)+(x6*0.938)+(x7*0.918)+(x8*0.920))*0.30

us_phl_cost = x16*1.65
us_nz_cost = x17*2.1

# tanker cost
tkrs_cost = x24*8600

# objective function declaration
# expression
expr = aus_ref_cost+jpn_ref_cost+usdist_cost+aus_phl_cost+aus_nz_cost+jpn_phl_cost+jpn_nz_cost+us_phl_cost+us_nz_cost+tkrs_cost

obj = Objective(expr, direction='min')

# run the model
model = Model(name='Trans-world Oil')
model.add([x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,
           c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17])
model.objective = obj
status = model.optimize()
print("status:", model.status)
print("objective value:", model.objective.value)
print("----------")
for var_name, var in model.variables.items():
    print(var_name, "=", var.primal)

status: optimal
objective value: 1731203.781979872
----------
aus_brl = 5748.605808433443
aus_brh = 1211.020641328023
aus_irl = 0.0
aus_irh = 39965.027440804515
jpn_brl = 23076.923076923085
jpn_brh = 6923.076923076915
jpn_irl = 0.0
jpn_irh = 0.0
aus_gas = 9000.0
aus_nz_gas = 5400.0
aus_phl_gas = 0.0
jpn_gas = 3000.0
jpn_nz_gas = 0.0
jpn_phl_gas = 5000.0
us_dis = 12000.0
us_phl_dis = 52.3076923076942
us_nz_dis = 752.3076923076933
aus_dis = 21000.0
aus_nz_dis = 7947.692307692307
aus_phl_dis = 0.0
jpn_dis = 12000.0
jpn_nz_dis = 0.0
jpn_phl_dis = 7947.692307692306
tkrs = 0.0